@font-face {
  font-family: "Source Code Pro";
  src: url("../assets/fonts/SourceCodePro-Black.otf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("../assets/fonts/SourceCodePro-BlackIt.otf");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("../assets/fonts/SourceCodePro-Bold.otf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("../assets/fonts/SourceCodePro-BoldIt.otf");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("../assets/fonts/SourceCodePro-ExtraLight.otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("../assets/fonts/SourceCodePro-ExtraLightIt.otf");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("../assets/fonts/SourceCodePro-LightIt.otf");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("../assets/fonts/SourceCodePro-Light.otf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("../assets/fonts/SourceCodePro-RegularIt.otf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("../assets/fonts/SourceCodePro-Medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("../assets/fonts/SourceCodePro-MediumIt.otf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("../assets/fonts/SourceCodePro-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("../assets/fonts/SourceCodePro-Semibold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("../assets/fonts/SourceCodePro-SemiboldIt.otf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/fonts/SourceSansPro-Black.otf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/fonts/SourceSansPro-BlackIt.otf");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/fonts/SourceSansPro-Bold.otf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/fonts/SourceSansPro-BoldIt.otf");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/fonts/SourceSansPro-ExtraLight.otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/fonts/SourceSansPro-ExtraLightIt.otf");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/fonts/SourceSansPro-LightIt.otf");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/fonts/SourceSansPro-Light.otf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/fonts/SourceSansPro-RegularIt.otf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/fonts/SourceSansPro-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/fonts/SourceSansPro-Semibold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/fonts/SourceSansPro-SemiboldIt.otf");
  font-weight: 700;
  font-style: italic;
}
