html, body {
  padding: 0;
  margin: 0;
  outline: 0;
  width: 100%;
  height: 100%;
  font-family: Source Sans Pro;
}

.input {
  border: 1px solid #9E9E9E;
  background: transparent;
  padding: 2px 5px;
  border-radius: 5px;
  transition: all ease 0.5s;
  font-family: Source Code Pro;
}
.input.error {
  box-shadow: 0 0 2px 0 #E53935;
}

.title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.btn {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  border: 1px solid #616161;
  padding: 2px 5px;
  border-radius: 5px;
  transition: all ease 0.5s;
  font-family: Source Sans Pro;
  cursor: pointer;
}
.btn:hover {
  background: #BDBDBD;
}
.btn.disabled {
  opacity: 0.5;
  cursor: default;
}
.btn.disabled:hover {
  background: white;
}

.local .center {
  text-align: center;
}
.local .front {
  display: grid;
  grid-template-areas: "client server";
  grid-template-columns: 50% 50%;
}
.local .front .client {
  grid-area: client;
}
.local .front .client .form {
  max-width: 400px;
  margin: 0 auto;
}
.local .front .client .form .input {
  width: calc(100% - 12px);
  margin-bottom: 5px;
}
.local .front .client .form .btn {
  margin-bottom: 5px;
}
.local .front .server {
  grid-area: server;
}
.local .front .server .table .verifier {
  max-width: 400px;
}
.local .front .server .table .verifier .number {
  overflow-y: auto;
}
.local .calculations {
  width: calc(100% - 10px);
  margin: 5px;
}
.local .calculations .row {
  height: 70px;
  display: grid;
  grid-template-columns: 33.333% 33.333% 33.333%;
  grid-template-areas: "client channel server";
  border-top: 1px solid black;
}
.local .calculations .row:hover {
  background: #BDBDBD;
}
.local .calculations .row.header {
  height: 35px;
  line-height: 35px;
  text-align: center;
}
.local .calculations .row.header .col {
  background: #E0E0E0;
  display: block;
}
.local .calculations .row .client {
  grid-area: client;
  border-left: 1px solid black;
}
.local .calculations .row .channel {
  grid-area: channel;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.local .calculations .row .server {
  grid-area: server;
  border-right: 1px solid black;
}
.local .calculations .row:last-child {
  border-bottom: 1px solid black;
}
.local .calculations .row .col {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-areas: "key" "value";
  padding: 0 3px;
}
.local .calculations .row .col .key {
  grid-area: key;
  line-height: 35px;
  text-align: center;
  font-weight: bold;
}
.local .calculations .row .col .value {
  grid-area: value;
  overflow-x: auto;
  white-space: nowrap;
  text-align: center;
  font-family: Source Code Pro;
}
.local .calculations .row .col .full {
  grid-row: 1/3;
  line-height: 70px;
  text-align: center;
  font-weight: bold;
}

.table {
  margin: 5px;
  border-collapse: collapse;
}
.table thead tr {
  background: #E0E0E0;
}
.table thead tr td {
  font-weight: bold;
  padding: 4px 4px;
  text-align: center;
  border: 1px solid #757575;
}
.table tbody tr {
  background: white;
}
.table tbody tr td {
  padding: 4px 4px;
  text-align: center;
  border: 1px solid #757575;
}

/*# sourceMappingURL=index.css.map */
